basicfamily.sample/
com.vogella.ide.first/
hello/
HelloWorld/
org.eclipse.sirius.sample.basicfamily/
org.eclipse.sirius.sample.basicfamily.design/
org.eclipse.sirius.sample.basicfamily.edit/
org.eclipse.sirius.sample.basicfamily.editor/
org.eclipse.xtext.example.arithmetics/
org.eclipse.xtext.example.arithmetics.ide/
org.eclipse.xtext.example.arithmetics.tests/
org.eclipse.xtext.example.arithmetics.ui/
org.eclipse.xtext.example.arithmetics.ui.tests/
org.example.domainmodel/
org.example.domainmodel.ide/
org.example.domainmodel.tests/
org.example.domainmodel.ui/
org.example.domainmodel.ui.tests/
org.example.turtles/
org.example.turtles.ide/
org.example.turtles.tests/
org.example.turtles.ui/
org.example.turtles.ui.tests/
org.xtext.example.mydsl/
org.xtext.example.mydsl.ide/
org.xtext.example.mydsl.tests/
org.xtext.example.mydsl.ui/
org.xtext.example.mydsl.ui.tests/
uk.ac.kcl.inf.jingyi.flowcharts/
uk.ac.kcl.inf.jingyi.flowcharts.edit/
uk.ac.kcl.inf.jingyi.flowcharts.editor/
uk.ac.kcl.inf.jingyi.flowcharts.xtext/
uk.ac.kcl.inf.jingyi.flowcharts.xtext.ide/
uk.ac.kcl.inf.jingyi.flowcharts.xtext.tests/
uk.ac.kcl.inf.jingyi.flowcharts.xtext.ui/
uk.ac.kcl.inf.jingyi.flowcharts.xtext.ui.tests/
uk.ac.kcl.inf.mazegame/
.metadata/